!!!
%html
  %head
    %title FcFinder
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'fcfinder', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'fcfinder', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #fcfinder

    :javascript
      $(function(){
        $("#fcfinder").fcFinder({
          // bu değer rotada ayarladığınız adres olmalı
          url:"/admin/fcfinder",
        getFileCallback: function(url) {
          /**
            Editör Entegre İşlemleri İlk Etap İçin Bu Değeri Boş Bırakabilirsiniz
            Varsayılan Olarak CKEditor ile Entegrebir şekilde çalışıyor
          */
            }
        });
      });